[core]
    mergeoptions = --no-ff --no-commit
    editor = vim

[user]
    name = Dionysis Grigoropoulos
    email = info@erethon.com

[merge]
    ff = false
    commit = false

[color]
    ui = true   

[alias]
    co = checkout
    st = status
    go = log --graph --pretty=oneline --abbrev-commit
    lp = log --pretty=oneline
    b = branch
    ba = branch -a
    bl = blame
    nv = commit --no-verify
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
    lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
[init]
    templatedir = ~/.config/git_templates/
