[core]
    editor = vim

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = "~/.config/git/trusted_public_keys"

[user]
    name = Dionysis Grigoropoulos
    email = dgrig@erethon.com
    signingkey = "key::sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIPb9z1U7Sti2lls0mlcmyPwmwD91amKwVlLZHYclSoULAAAABHNzaDo="

[merge]
    ff = false
    commit = false

[color]
    ui = true

[alias]
    co = checkout
    b = branch
    ba = branch -a
    bl = blame
    fa = fetch --all
    nv = commit --no-verify
    ls = log --show-signature
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
    lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
    wd = diff --word-diff

[sendemail]
    smtpencryption = tls
    smtpserver = mail.erethon.com
    smtpuser = XXX
    smtpserverport = 587

[rerere]
    enabled = true

[push]
    default = matching

[init]
    defaultBranch = main

[branch]
    sort = -committerdate
